body {
	color: rgb(72, 72, 72);
}

.nav-item a i.fa {
	margin-right: 8px;
}

.nav-item a {
	color: grey;
}

.nav-link.active {
	font-weight: 600;
	color: #3b439c;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: #3b77a4;
}

.paper-info, .action {
	padding-top: 10px;
	padding-bottom: 10px;
}

.sticky-nav {
	top: 65px;
	z-index: 1010;
}