/*change default colour and font*/
body {
	color: rgb(72, 72, 72);
	font-family: 'Source Sans Pro', sans-serif;
}

/*
* MODIFY NAV ITEMS
*/
/*add margin to icon on nav item*/
.nav-item a i.fa {
	margin-right: 8px;
}

.nav-item a {
	color: grey;
}

.nav-link.active {
	font-weight: 700;
	color: #3b439c;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: #3b77a4;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
	color: #3b77a4;
	font-weight: 700;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #3b439c;
  background-color: #fff;
  border-color: #fff #fff #3b439c #fff;
  border-bottom: 3px solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

ul.nav.scrollable-nav {
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    display: block;
}

ul.nav.scrollable-nav li {
    display: inline-block;
    float: none;
}

/*
* ARTICLE LIST CLASS
*/
.paper-info, .action {
	padding-top: 10px;
	padding-bottom: 10px;
}

/*make sticky nav below the navbar*/
.sticky-nav {
	top: 65px;
	z-index: 1010;
}